@page "/pl_offerspage"


<center>
    <div class="col-12 card">
        @* <h3>Best Offers based on you selection</h3> *@

        <div style="background-color: #C1D8C3; padding: 5px;">
            <center>
                <div class="col-12-md">
                    <div class="col-sm-10">
                        @* <img src="./img/homeloan_offers.png" class="img-thumbnail" /> *@
                    </div>
                </div>

                <div class="col-12 card" style="background-color: #EEF5FF; text-align: center;font-family:'Times New Roman'">
                    <div class="col-sm-10">
                        <h3 style="margin-bottom: 10px;">Some of the best Personal Loan Lenders</h3>
                    </div>
                </div>

                @* <div class="imagerow">
                <div class=" imagecolumn">

                <img src="./img/lowest_interest_rate.png" class="img-thumbnail" />
                </div>
                <div class="imagecolumn">

                <img src="./img/zero_processing_fees.png" class="img-thumbnail" />
                </div>
                <div class="imagecolumn">

                <img src="./img/home_loan_insurance.png" class="img-thumbnail" />
                </div>
                </div> *@

            </center>

            <center>
                <div class="imagerow box row" style="border-right-color:black; margin-bottom: 10px; margin-top: 10px;">
                    <div class="col-md-6 col-12 p-2 border-end my-2">
                        <div style="font-family:'Times New Roman';font-size:large; text-align:center;">Kotak Financial Servies</div>
                        <div style="height:100px" class="w-100 d-flex justify-content-center">
                            <img src="./img/kotak_personalloan.png" height="100%" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12 p-2">
                        <div style="padding:15px;text-align: center;font-family:'Times New Roman'">
                            Representatives are standing by to discuss your options - Call now!
                        </div>
                        <div class="imagerow">
                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="tel:1800 210 0018">
                                    <button  class="fancy-button" title="Call us at 1800 210 0018">Request Call</button>
                                </a>
                            </div>
                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="https://www.icicibank.com/personal-banking/loans/personal-loan/emi-calculator">
                                    <button  class="fancy-button">Contact Lender</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="imagerow box row" style="border-right-color:black; margin-bottom: 10px; margin-top: 10px;">
                    <div class="col-md-6 col-12 p-2 border-end my-2">
                        <div style="font-family:'Times New Roman';font-size:large; text-align:center;">HDFC Financial Servies</div>
                        <div style="height:100px" class="w-100 d-flex justify-content-center">
                            <img src="./img/hdfc_personalloan.png" height="100%" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12 p-2">
                        <div style="text-align: center;font-family:'Times New Roman'">
                            @* Representatives are standing by to discuss your options - Call now! *@
                            Relationships beyond banking, One Family One Bank, We understand your world.
                        </div>
                        <div class="imagerow">
                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="tel:1800 210 0018">
                                    <button  class="fancy-button" title="Call us at 1800 210 0018">Request Call</button>
                                </a>
                            </div>

                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="https://www.hdfcbank.com/personal/tools-and-calculators/personal-loan-calculator">
                                    <button class="fancy-button">Contact Lender</button>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="imagerow box row" style="border-right-color:black; margin-bottom: 10px; margin-top: 10px;">
                    <div class="col-md-6 col-12 p-2 border-end my-2">
                        <div style="font-family:'Times New Roman';font-size:large; text-align:center;">ICICI Financial Servies</div>
                        <div style="height:100px" class="w-100 d-flex justify-content-center">
                            <img src="./img/icici_personalloan.png" height="100%" />
                        </div>
                    </div>
                    <div class="col-md-6 col-12 p-2">
                        <div style="padding:15px;text-align: center;font-family:'Times New Roman'">
                            @* Representatives are standing by to discuss your options - Call now! *@
                            "Hum Hai Na, Khayal Apka" which means "We are there, for your every thought."
                        </div>
                        <div class="imagerow row">

                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="tel:1800 1080">
                                    <button  class="fancy-button" title="Call us at 1800 1080">Request Call</button>
                                </a>
                            </div>

                            <div style="width:50%;float:left;padding:5px;" class="col-12 col-md-6">
                                <a href="https://www.icicibank.com/personal-banking/loans/personal-loan">
                                    <button  class="fancy-button">Contact Lender</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </center>

            <div class="col-12 card">
                <p style="font-family:'Times New Roman'">
                    About Your Offers
                    The offers that appear on this site are from companies from which LendingTree receives compensation. This compensation may impact how and where products appear on this site (including for example, the order in which they appear). LendingTree does not include all lenders or loan options available in the marketplace.
                </p>
            </div>

            <div class="centered-container" style="background-color: whitesmoke;">
                <div style="padding: 10px">
                    <button @onclick="NavigateBack" class="fancy-button">Go Back</button>
                </div>
            </div>
        </div>
    </div>
</center>
@code {
    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private void NavigateToLender()
    {
        NavigationManager.NavigateTo("https://www.icicibank.com/personal-banking/loans/personal-loan/emi-calculator");

        //NavigationManager.NavigateTo("https://www.google.com");
    }

    private void NavigateBack()
    {
        NavigationManager.NavigateTo("/personalloancalculator");
    }

}
