@layout LoginLayout
@inherits LayoutComponentBase

<center>
        <div class="col-12 card">
            <div class="col-sm-6">
                <img src="./img/repay-your-home-loan.png" class="img-thumbnail"/>
            </div>
            <div class="col-sm-6" style="border-left:thick">
                @Body
            </div>
        </div>
</center>

