@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		@if (App.RealmApp.CurrentUser != null)
		{
			<NavMenu />
		}
	</div>

	<main>
		<div class="top-row px-4">
			<a href="https://www.v2solutions.com/" target="_blank">About us</a>
		</div>

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
