@inject NavigationManager NavManager;

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Loan Offers Calculator</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" id="DivMenuAuto" AutomationId="DivMenuAuto">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" id="HomeNavLink" AutomationId="HomeNavLink" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</div>
		@* <div class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</div> *@
		@* <div class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</div> *@
		@* <div class="nav-item px-3">
			<NavLink class="nav-link" href="homecalculator">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Home Calculator
			</NavLink>
		</div> *@
		@* <div class="nav-item px-3">
			<NavLink class="nav-link" href="PL_Wizard">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Personal Laon
			</NavLink>
		</div> *@
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="calculators" id="NavMenuAutoCalculator" AutomationId="NavMenuAutoCalculator">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Calculators
			</NavLink>
		</div>
		<div class="nav-item px-3">	
			<NavLink class="nav-link" href="addtodo" id="NavMenuAutoTodo" AutomationId="NavMenuAutoTodo">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Add ToDo
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="#" @onclick="SignOut">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Sign Out
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;

	}
	async Task SignOut()
	{
		try
		{
			var currentuserId = App.RealmApp.CurrentUser.Id;

			await App.RealmApp.RemoveUserAsync(App.RealmApp.CurrentUser);

			var noMoreCurrentUser = App.RealmApp.AllUsers.FirstOrDefault(u => u.Id == currentuserId);

			NavManager.NavigateTo("/login");
		}
		catch (Exception ex)
		{
			await Application.Current.MainPage.DisplayPromptAsync("Error", ex.Message);

		}
	}

}
